<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://ssl.engds.it/build/Autotorino/iOS/autotorino_1.0.17.ipa</string>
          </dict>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
          <dict>
            <key>CFBundleURLSchemes</key>
            <array>
              <string>AutoTorino</string>
            </array>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>it.autotorino.gamification</string>
          <key>bundle-version</key>
          <string>1.0.17</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>AutoTorino</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>